target/classes/walmart-interface.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
    <http:listener-config name="walmart-demoapi-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="walmart-demoapi-config" api="walmart-demoapi.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="c2d1faa9-ded7-467a-acbf-74e7603ce521">
		<http:request-connection protocol="HTTPS" host="walmart.p.rapidapi.com"/>
		<http:default-headers >
		</http:default-headers>
		<http:default-query-params >
		</http:default-query-params>
	</http:request-config>
    <db:config name="Database_Config" doc:name="Database Config" doc:id="f8876214-ccb0-439c-9c59-f44137519104" >
		<db:my-sql-connection host="db4free.net" port="3306" user="c4ebatch5" password="c4ebatch@5" database="testdbc45" />
	</db:config>
	<flow name="walmart-demoapi-main">
        <http:listener config-ref="walmart-demoapi-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="walmart-demoapi-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="walmart-demoapi-console">
        <http:listener config-ref="walmart-demoapi-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="walmart-demoapi-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    
    <flow name="get:\products\get-details:walmart-demoapi-config">
		<http:request method="GET" doc:name="Request" doc:id="5b379e0d-8a1b-4fd6-856a-fa684b5886d1" path="/products/v3/get-details" config-ref="HTTP_Request_configuration">
			<http:headers ><![CDATA[#[output application/java
---
{
	"x-rapidapi-key" : attributes.headers."x-rapidapi-key" , 
	"x-rapidapi-host" : attributes.headers."x-rapidapi-host"
}]]]></http:headers>
			<http:query-params ><![CDATA[#[output application/java
---
{
	"usItemId" : attributes.queryParams.usItemId
}]]]></http:query-params>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="32c6c0bd-97ed-4ec1-afe1-f26bfb0945d7" />
    </flow>
    <flow name="get:\stores\list:walmart-demoapi-config">
		<http:request method="GET" doc:name="Request" doc:id="1f3ac963-5b60-4a24-8095-3c78e4383d54" config-ref="HTTP_Request_configuration" path="/stores/list">
			<http:headers><![CDATA[#[output application/java
---
{
	"x-rapidapi-key" : attributes.headers."x-rapidapi-key" , 
	"x-rapidapi-host" : attributes.headers."x-rapidapi-host"
}]]]></http:headers>
			<http:query-params><![CDATA[#[output application/java
---
{
	"postalCode" : attributes.queryParams.postalCode
}]]]></http:query-params>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="33bab473-fa7a-4bb6-9eb1-53b79b5be6e7" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="ad539fd6-a70a-49b9-b48f-ef2a8506a3f1" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---

payload.data.storesBySearchTerm.stores.address map ((item, index) -> item: item.address ++ " " ++ item.city ++ " " ++ item.state  ++ " " ++ item.country ++ " (" ++ item.postalCode ++ ")")
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="0fff4481-e671-48cd-8108-5a37235200e1" message="#[payload]"/>
    </flow>
    <flow name="post:\products\add:application\json:walmart-demoapi-config">
		<db:insert doc:name="Insert" doc:id="20f6ce9d-4c51-48e1-a7aa-de852c7d1db3" config-ref="Database_Config">
			<db:sql ><![CDATA[INSERT INTO `order_details`(`store_id`, `store_name`, `store_address`, `store_distance`, `store_contact_number`, `product_type_id`, `quantity`) VALUES (:storeId,:storeName,:storeAddress,:distance,:contact,:type,:quantity)]]></db:sql>
			<db:input-parameters ><![CDATA[#[{"storeId": payload.store_id,
	"storeName": payload.store_name,
	"storeAddress": payload.store_address,
	"distance" : payload.store_distance,
	"contact" : payload.store_contact_number,
	"type" : payload.product_type_id,
	"quantity" : payload.quantity,
}]]]></db:input-parameters>
		</db:insert>
		<logger level="INFO" doc:name="Logger" doc:id="3db1dd94-71c3-4aef-a0c9-49b9e9c3fd33" message="#[payload]"/>
    </flow>
</mule>
